# example
EVM_CANISTER_ID=aaaaa-aa
INDEXER_IC_HOST=https://icp-api.io
INDEXER_DB_PATH=./indexer.sqlite
INDEXER_MAX_BYTES=1200000
INDEXER_BACKOFF_INITIAL_MS=200
INDEXER_BACKOFF_MAX_MS=5000
INDEXER_IDLE_POLL_MS=1000
INDEXER_FETCH_ROOT_KEY=false
INDEXER_ARCHIVE_DIR=./archive
INDEXER_CHAIN_ID=4801360
INDEXER_ZSTD_LEVEL=3
