VITE_IC_HOST=https://icp-api.io
VITE_ICP_TOKEN_LIST_URL=/icp-token-list.sample.json
VITE_INTERNET_IDENTITY_URL=https://identity.ic0.app
VITE_II_DERIVATION_ORIGIN=
VITE_KASANE_EVM_CANISTER_ID=4c52m-aiaaa-aaaam-agwwa-cai
VITE_WRAP_CANISTER_ID=lpuz5-uyaaa-aaaam-ah4da-cai
VITE_EVM_WRAP_FACTORY=0x9057eb7d9095e5e0ff2091b8870c753fb16d3ebb
VITE_KASANE_RPC_URL=https://rpc-testnet.kasane.network
VITE_KASANE_CHAIN_ID=4801360
VITE_KASANE_CHAIN_NAME=Kasane
VITE_KASANE_NATIVE_CURRENCY_SYMBOL=ICP
VITE_KASANE_BLOCK_EXPLORER_URL=https://explorer-testnet.kasane.network
VITE_JUNO_SATELLITE_ID=
JUNO_DEV_SATELLITE_ID=
JUNO_PROD_SATELLITE_ID=
