VITE_IC_HOST=https://icp-api.io
VITE_GOOGLE_CLIENT_ID=
VITE_INTERNET_IDENTITY_URL=https://identity.ic0.app
VITE_II_DERIVATION_ORIGIN=
VITE_KASANE_EVM_CANISTER_ID=4c52m-aiaaa-aaaam-agwwa-cai
VITE_WRAP_CANISTER_ID=lpuz5-uyaaa-aaaam-ah4da-cai
VITE_EVM_WRAP_FACTORY=0x9057eb7d9095e5e0ff2091b8870c753fb16d3ebb
VITE_JUNO_SATELLITE_ID=
JUNO_DEV_SATELLITE_ID=
JUNO_PROD_SATELLITE_ID=
