[package]
name = "evm-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
tiny-keccak = { version = "2", features = ["keccak"] }
ic-stable-structures = { path = "../../vendor/stable-structures" }

[dependencies.evm_backend]
path = "../evm-db"
