[package]
name = "evm-core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
tiny-keccak = { version = "2", features = ["keccak"] }
ic-stable-structures = { path = "../../vendor/stable-structures" }
revm = { path = "../../vendor/revm/crates/revm", default-features = false, features = ["std"] }
alloy-rlp = "0.3"

[dependencies.evm_db]
package = "evm-db"
path = "../evm-db"
